.dashboard--container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('/src/assets/dashboardbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4));
    box-shadow: rgba(0, 0, 0, 0.4) 20px 2px 4px, rgba(0, 0, 0, 0.6)20px 10px 25px 25px, rgba(0, 0, 0, 0.2) 1px -3px 0px inset;
}

.dashboard--data {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
}

/* USERS INPUTS //////////////////////////////// */

.user--inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;
    width: 450px;
}

.search--heading {
    color: var(--primary--color);
}

.search {
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid var(--primary--color);
    color: #fff;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.search--result {
    padding: 0.5rem;
    background: #fff;
    color: #111;
}

.result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: 0.5rem;
}

.result:hover {
    background: var(--primary--color);
    color: #fff;
}

.result--name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.result--symbol {
    text-transform: uppercase;
}

/* ASSETS TABLE ////////////////////////// */

.assets--container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    box-shadow: 0 0 15px var(--secondary--color);
    border-radius: 1rem;
    padding: 1rem;
}

.assets-container--balance {
    font-size: 1.3rem;
}

.assets--table--head {
    background: #6A279A;
    color: #111;
}

.assets--table--head>th {
    padding: 0.5rem;
}

.asset--table--row>td {
    text-align: center;
    padding: 0.5rem;
}

.asset--table--row:hover {
    background: #242424;
}

.td--name {
    display: flex;
    align-items: center;
    align-self: center;
    gap: 1rem;
}

.td--name>img {
    width: 2rem;
}

.asset--delete--btn {
    display: flex;
    color: var(--primary--color);
    font-size: 1.5rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.asset--delete--btn:hover {
    color: var(--secondary--color);
}

/* CHART //////////////////////////// */

.assets--chart--container {
    border: 1px solid #333;
    border-radius: 1rem;
    box-shadow: 0 0 15px var(--primary--color);
}

.assets--chart--container>h2 {
    text-align: center;
    margin: 1rem 0;
}

/* WATCHLIST  /////////////////////// */

.watchlist--container {
    width: 100%;
    box-shadow: 0 0 15px #fff;
    border-radius: 1rem;
    padding: 1rem;
}

.watchlist--container>h2 {
    margin-bottom: 1rem;
    color: var(--primary--color);
}

.watchlist--table--head {
    background: #6A279A;
    color: #111;
}

.watchlist--table--head>th {
    padding: 0.5rem;
}

@media screen and (max-width:1200px) {
    .dashboard--container {
        padding: 0.3rem;
    }

    .dashboard--wrapper {
        gap: 1.5rem;
        width: 100%;
        padding: 0.2rem;
    }

    .dashboard--data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .user--inputs {
        height: 675px;
        width: 100%;
    }

    .assets--container {
        gap: 1rem;
        padding: 0.8rem 0.4rem;
        border-radius: 0.5rem;
    }

    .watchlist--container {
        padding: 0.8rem 0.4rem;
        border-radius: 0.5rem;
    }

    .asset--delete--btn {
        font-size: 1rem;
    }

    .assets--table--head>th {
        padding: 0.3rem;
    }

    .watchlist--table--head>th {
        padding: 0.3rem;
    }

    .td--name>img {
        width: 20px;
    }
}