.dashboard {
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 0rem 4rem;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('/src/assets/mainbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dash--nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.dash--nav p {
    top: 2rem;
    left: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.dash--btn {
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
    padding: 0.5rem 1rem;
    transition: 0.3s ease-in;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    letter-spacing: 2px;
}

.dash--btn:hover {
    color: var(--primary--color);
    border: 1px solid var(--primary--color);
    box-shadow: 0 0 10px #ffffff;
}

.dash--container {
    width: 100%;
    min-height: 85vh;
    padding: 1rem 2rem;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
    box-shadow: rgba(0, 0, 0, 0.4) 20px 2px 4px, rgba(0, 0, 0, 0.6)20px 10px 25px 25px, rgba(0, 0, 0, 0.2) 1px -3px 0px inset;
    border-radius: 20px;
}

.dash--container h2 {
    font-family: var(--secondary--font);
    text-align: center;
    font-size: 3rem;
    background: linear-gradient(to right, #00FFFF 0%, #d40071 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}