.main--container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 2rem 4rem;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('/src/assets/mainbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.main--info {
    margin-top: 20px;
    max-width: 1240px;
    height: 550px;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    box-shadow: rgba(0, 0, 0, 0.4) 20px 2px 4px, rgba(0, 0, 0, 0.6)25px 10px 5px 15px, rgba(0, 0, 0, 0.2) 1px -3px 0px inset;
    border-radius: 20px;
}

.main--hero {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.main--info h1 {
    font-family: var(--secondary--font);
    font-size: 10rem;
    letter-spacing: 2px;
    background: linear-gradient(to right, var(--primary--color) 40%, #fafafa 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sub--headings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3rem;
}

.sub--headings h2:nth-child(2) {
    font-size: 2.5rem;
    background: linear-gradient(to right, var(--primary--color) 10%, #d40071 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main--info p {
    font-size: 1.2rem;
}

.main--btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.main--btn {
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding: 0.5rem 1rem;
    color: var(--primary--color);
    cursor: pointer;
    font-family: var(--secondary--font);
    border: 1px solid var(--primary--color);
    border-radius: 5px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    transition: 0.3s;
}

.main--btn:hover {
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 0 10px #ffffff;
}

.coins--container {
    max-width: 1240px;
    padding-bottom: 1rem;
    width: 100%;
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.coin {
    position: relative;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 175px;
    gap: 0.5rem;
    transition: 0.3s;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: rgba(0, 0, 0, 0.4) 10px 2px 4px, rgba(0, 0, 0, 0.6)20px 10px 25px 15px, rgba(0, 0, 0, 0.2) 1px -3px 0px inset;
    cursor: pointer;
}

.coin img {
    width: 50px;
}

.coin:hover {
    box-shadow: 0 0 15px #ffffff;
}

.main--price--symbol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
}

.main--symbol--rank {
    display: flex;
    gap: 0.3rem;
}

.main--rank {
    font-weight: 700;
    color: var(--primary--color);
}

/* RESPONSIVE DESIGN  */

@media screen and (max-width:1000px) {
    .main--container {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/src/assets/mainbg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .main--info {
        height: 350px;
        padding: 1rem;
        gap: 1rem;
    }

    .main--hero {
        gap: 0.5rem;
    }

    .main--info h1 {
        font-size: 6rem;
    }

    .main--info {
        margin-top: 10px;
        height: 400px;
        padding: 3rem;
        flex-direction: column;
        gap: 0rem;
        background: none;
        box-shadow: none;
        border-radius: 0px;
    }

    .main--btns {
        margin-top: 1rem;
    }

    .coins--container {
        display: none;
    }
}

@media screen and (max-width:360px) {
    .main--info h1 {
        font-size: 5rem;
    }

    .sub--headings {
        font-size: 1rem;
    }

    .sub--headings h2:nth-child(2) {
        font-size: 1.8rem;
    }


    .main--info p {
        font-size: 1rem;
    }
}