.main--container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 0rem 4rem;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url('/src/assets/mainbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main--info {
    /* position: fixed; */
    max-width: 1240px;
    height: 550px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    box-shadow: rgba(0, 0, 0, 0.4) 20px 2px 4px, rgba(0, 0, 0, 0.6)20px 10px 25px 25px, rgba(0, 0, 0, 0.2) 1px -3px 0px inset;
    border-radius: 20px;
}

.main--info h1 {
    font-family: var(--secondary--font);
    font-size: 10rem;
    letter-spacing: 2px;
}

.main--info p {
    font-size: 1.2rem;
}

.btn {
    color: #FFF;
    border: 1px solid #FFF;
    background: rgba(0, 0, 0, 0.6);
    padding: 1rem 2rem;
    transition: 0.3s ease-in;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 1.5rem;
    letter-spacing: 2px;
}

.btn:hover {
    letter-spacing: 6px;
    color: var(--primary--color);
    border: 1px solid var(--primary--color);
    box-shadow: 0 0 20px #ffffff;
}

.coins--container {
    position: absolute;
    bottom: 2rem;
    right: 4rem;
    width: 600px;
    height: 100px;
    gap: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.coin {
    padding: 1rem;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: rgba(0, 0, 0, 0.4) 20px 2px 4px, rgba(0, 0, 0, 0.6)20px 10px 25px 15px, rgba(0, 0, 0, 0.2) 1px -3px 0px inset;
    border-radius: 20px;
    width: 200px;
    gap: 0.5rem;
    transition: 0.2s;
}

.coin:hover {
    box-shadow: 0 0 20px #ffffff;
}

.main--price--symbol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.main--symbol--rank {
    display: flex;
    gap: 0.5rem;
}

.main--rank {
    font-weight: 700;
}