.navbar--container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    border-bottom: 1px solid var(--primary--color);
}

.navbar--container h3 {
    font-family: var(--secondary--font);
    font-size: 2rem;
    letter-spacing: 2px;
    background: linear-gradient(to right, var(--primary--color) 0%, #d40071 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar--container>a {
    font-size: 1rem;
}

@media screen and (max-width:640px) {
    .navbar--container {
        padding: 1rem 2rem;
        flex-direction: column;
        gap: 0.5rem;
    }

    .navbar--container h3 {
        font-size: 1.8rem;
    }
}