.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    gap: 0.5rem;
}

.pagination img {
    width: 2.3rem;
    cursor: pointer;
    transition: 0.2s;
}

.pagination--btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: #505050;
    border-radius: 50%;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    transition: 0.2s;
    border: none;
    color: #fff;
}

.pagination--btn:hover {
    color: var(--primary--color);
    font-weight: 700;
}

.pagination--selected {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: var(--primary--color);
    border-radius: 50%;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    transition: 0.2s;
    border: none;
    color: #fff;
}

.pagination--selected:hover {
    color: #111;
    font-weight: 700;
}

.pagination--disable {
    transition: 0.2s;
    display: none;
}

.prev--btn {
    transform: rotate(180deg);
}

.pages {
    padding: 0.5rem;
    color: #fff;
    background: #111;
    outline: none;
}

@media screen and (max-width:640px) {
    .pagination--btn {
        font-size: 1rem;
        background: none;
    }

    .pagination--selected {
        background: none;
        color: var(--primary--color);
        font-weight: 700;
        font-size: 1.5rem;
    }

    .pagination img {
        width: 2rem;
    }
}