.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
}

.pagination img {
    width: 2.5rem;
    cursor: pointer;
    transition: 0.2s;
}

.pagination>button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: #505050;
    border-radius: 50%;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    transition: 0.2s;
    border: none;
    color: #fff;
}

.pagination>button:hover {
    color: var(--primary--color);
    font-weight: 700;
}

.pagination--disable {
    transition: 0.2s;
    opacity: 0;
}

.prev--btn {
    transform: rotate(180deg);
}