@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)), url('/src/assets/appbg.jpg');
  background-size: contain;
  font-family: var(--primary--font);
  color: #fff;
  overflow-x: hidden;
}

:root {
  --primary--color: #0995e0;
  --primary--bg--color: #141414;
  --primary--font: 'Poppins', sans-serif;
  --secondary--font: 'Bebas Neue', cursive, sans-serif;
}

.error {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

@media screen and (max-width:1000px) {}

@media screen and (max-width:640px) {}

@media screen and (max-width:360px) {}