* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

vv html {
  scroll-behavior: smooth;
}

.pagination button {
  background: blue;
}

.pagination button.active {
  background: blueviolet;
}